.resume { padding-left: 0 !important; }

/* Sidebar */
#sidebar-wrapper {
  background-color: var(--blacky);
}

#sidebar-item-container {
  position: fixed; 
  width: 24%;
  height: 100%;
  padding-top: 90px;
  text-align: center;
}

#btn-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 5px;
  color: gray;
}
#btn-container:hover { color: #F0F0F0; }

#my-brand {
  display: none;
}

#pic-container {
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: center;
    /* border-style: dotted;
  border-color: yellow; */
}

#resume-pic {
  border-radius:50%;
  height:160px;
}

#sidebar-items {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: Roboto;
}

.side-item {
  width: 100%;
  padding: 6px;
  /* border-style: dotted;
  border-color: green; */
}

#last-item { margin: 80px 0 0 0; }

.side-link {
  color: #F0F0F0;
  text-transform: uppercase;
}

/*hover side elements*/
#sidebar-item-about:hover {
  color: white;
  background-image: var(--highlight);
}
#sidebar-item-exp:hover {
  color: white;
  background-image: var(--highlight-gold);
}
#sidebar-item-ed:hover {
  color: white;
  background-image: var(--highlight-skyblue);
}
#sidebar-item-certif:hover {
  color: white;
  background-image: var(--highlight-teal);
}
#sidebar-item-skills:hover {
  color: white;
  background-image: var(--highlight-red);
}
#sidebar-item-int:hover {
  color: white;
  background-image: var(--highlight-pink);
}
#sidebar-item-vol:hover {
  color: white;
  background-image: var(--highlight-blue);
}

#sidebar-wrapper{ padding: 0 !important; }

.scrollspy { 
  padding: 0px;
}

.isCurrent .side-link { 
  color: white;
  background-image: var(--highlight);
}

/* Resume */
#resume-wrapper{
  min-height: 100vh !important;
  width: 100%;
  margin-left: 0 !important;
  background-color: #f0f0f0;
  transition: margin .25s ease-out;
}

/* .burger-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 40px;
    font-weight: bold;
    margin-right: 50px;
  } */

.resume-title {
  text-transform: uppercase;
  font-weight: bold;
}

.resume-sections {
  padding: 7rem 2rem;
  min-height: 100vh;
}

.resume-text { font-size: large; }

#aboutme {
  padding: 10rem 2rem;
  min-height: 100vh;
}
#aboutme > h1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.certif {
	margin: 0;
  padding: 0px 0px 10px 25px;
	list-style: none;
	background-image: url("./assets/img/certificate.svg");
	background-repeat: no-repeat;
	background-position: left top;
  background-size: 20px;
}

#tec-list {
  padding: 0;
  margin: 0;
  left: 0;
}
#tec-list > ul > li {
  display: inline;
  float: left;
  left: 0;
  padding: 10px 8px;
  list-style: none;
}
#tec-list > ul > li > img { height: 40px; }

.social-icon-resume {
  margin:auto 12px;
  color: var(--blacky);
}


@media only screen and (max-width: 600px) {
/*Negrito: #0d0d0d;*/

  #sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--blacky);
  }
  .sidebar {
    margin: 0;
    padding: 0;
    min-height: 92vh;
  }

  #sidebar-item-container {
    padding-top: 20px;
    width: 90%;
    height: 92%;
  }

  #pic-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* border-style: dotted;
    border-color: yellow; */
  }
  #resume-pic {
    border-radius:50%;
    height:130px;
  }

  #my-brand {
    display: initial;
    width: 75%;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: right;
  }

  .side-item {
    padding: 10px;
  }

  /* Resume */
  .resume-sections { padding: 5rem 1rem; }
  .resume-title { font-size: 35px; }

  #aboutme { padding: 6rem 1rem; }
  #aboutme > h1 { font-size: 40px; }
  
  .ul-certif {
    padding-left: 1rem;
  }
} 